h1 {
  font-family: "Poppins Regular", sans-serif;
  font-size: 24px;
  color: #404040;
}

#balance {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

#currency {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

#currency h1, #currency p {
  font-family: "Poppins Regular", serif;
  margin-top: 0;
}

#difference {
  align-self: flex-end;
  margin: 5px 0 0;
  font-size: 20px;
  color: #0BD1B8;
  font-family: "Poppins Bold", serif;
}

#days-info {
  align-self: flex-end;
  margin: 0;
  font-size: 12px;
}

#balance-label {
  margin-top: 0;
}

@media only screen and (max-width: 1200px) {
  #net-worth {
    display: none;
  }
}
