.box-account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 0 10px 0;
  margin: 10px;
  height: 100%;
}

.box-account p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.box-account-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.box-account-bottom {
  margin-bottom: 15px;
}

.box-account-top a {
  font-size: 36px;
  margin-bottom: 20px;
  cursor: pointer;
}

.balance-value {
  font-family: "Poppins Bold", serif;
  font-size: 20px !important;
}

.dropdown-content {
  width: 122px;
  height: 86px;
  padding: 10px 10px 0;
  display: none;
  float: left;
  position: absolute;
  background-color: #FFFFFF;
  z-index: 300;
  border-radius: 10px;
}

.dropdown-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-content li {
  margin: 0;
  text-align: right;
}

.dropdown-content a {
  color: #545759;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.delete-text {
  color: #F31259 !important;
}

@media only screen and (min-width: 800px) {
  .box-account {
    margin: 0 10px 0;
  }
}
