<h1>Add new transaction</h1>
<form class="transaction-form" #transactionForm="ngForm">
  <p class="message" *ngIf="message">{{message}}</p>
  <select class="form-select" id="account-from" name="account-from" [(ngModel)]="newTransaction.accountId" (change)="checkIfAccountIdIsValid()" #accountIdField="ngModel" required>
    <option [ngValue]="null" [disabled]="true" >Select account for transaction</option>
    <option *ngFor="let account of allAccounts" [ngValue]="account.id">{{account.name}}</option>
  </select>
  <p class="message" *ngIf="!isAccountIdValid && accountIdField.touched">You have to choose the account</p>
  <select class="form-select" id="type" name="type" [(ngModel)]="newTransaction.type" (change)="checkIfTypeIsValid()" #typeField="ngModel" required>
    <option [ngValue]="null" [disabled]="true">Select transaction type</option>
    <option value = "INCOME">INCOME</option>
    <option value = "EXPENSE">EXPENSE</option>
  </select>
  <input type="text" class="form-input" id="title" placeholder="Transaction title" name="title" [(ngModel)]="newTransaction.title" (change)="checkIfTitleIsValid()" #titleField="ngModel" required>
  <p class="message" *ngIf="!isTitleValid && titleField.touched">Title has to be at least 3 characters long</p>
  <p class="message" *ngIf="!isTypeValid && typeField.touched">You have to choose the transaction type</p>
  <input type="number" class="form-input" id="value" placeholder="Transaction value (USD)" name="value" [(ngModel)]="newTransaction.value" (change)="checkIfValueIsValid()" #valueField="ngModel" required>
  <p class="message" *ngIf="!isValueValid && valueField.touched">Value can't be empty or contain signs other than '.'. Must be a positive number.</p>
  <select class="form-select" id="payee" name="payee" [(ngModel)]="newTransaction.payeeId" (change)="checkIfPayeeIdIsValid()" required>
    <option [ngValue]="null" [disabled]="true" >Select payee</option>
    <option *ngFor="let payee of getPayeesForType()" [ngValue]="payee.id">{{payee.name}}</option>
  </select>
  <select class="form-select" id="category" name="category" [(ngModel)]="newTransaction.categoryId" (change)="checkIfCategoryIdIsValid()" required>
    <option [ngValue]="null" [disabled]="true" >Select category</option>
    <option *ngFor="let category of getCategoriesForType()" [ngValue]="category.id">{{category.name}}</option>
  </select>
  <input type="date" class="form-input" id="date" placeholder="Date" name="date" [(ngModel)]="newTransaction.date" (change)="checkIfDateIsValid()" #dateField="ngModel" required>
  <p *ngIf="!isDateValid && dateField.touched" class="message">Date should be in format DD.MM.YYYY</p>
  <button type="button" class="form-button" (click)="onSubmit()" [disabled]="transactionForm.invalid || !isTitleValid || !isAccountIdValid || !isTypeValid || !isCategoryIdValid || !isPayeeIdValid || !isValueValid || !isDateValid ">Save</button>
</form>
