@font-face {
  font-family: "Poppins Medium";
  src: url("src/assets/fonts/Poppins-Medium.ttf");
}

app-login-text {
  font-family: "Poppins Bold", sans-serif;
  font-size: 26px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 650px) {
  app-login-text {
    display: inline-block;
    width: 100%;
  }

  app-login-form{
    display: inline-block;
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  app-login-text {
    display: inline-block;
    max-width: 400px;
    margin-left: 6%;
    margin-right: 8%;
    margin-top: 0;
  }
}
