<header>
  <div class="menu-wrapper">
    <div class="menu-header">
      <a href="" class="logo logo-no-text"><img src="../../assets/icons/logo.svg" alt="page_logo"></a>
      <a href="" class="logo logo-text"><img src="../../assets/icons/logo-with-text.svg" alt="page_logo_with_text"></a>
      <input class="menu-btn" type="checkbox" id="menu-btn"/>
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="">About</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">FAQ</a></li>
      </ul>
      <div class="desktop-menu-buttons">
        <button class="button" id="menu-button-sign-up" (click)="navigateTo('/register')">Sign up</button>
        <button class="button" id="menu-button-login" (click)="navigateTo('/login')">Log in</button>
      </div>
    </div>
  </div>
</header>
