@font-face {
  font-family: "Poppins Bold";
  src: url("src/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("src/assets/fonts/Poppins-Medium.ttf");
}

#container{
  border-radius: 10px;
}

li:nth-child(even){
  background-color: #FFFFFF;
}

.main-list li:last-child{
  border-radius: 0 0 10px 10px;
}

.sub-list li{
  border-radius: 0 !important;
}

div h1{
  background-color: #F31259;
  color: #FFFFFF;
  font-family: "Poppins Bold", sans-serif;
  text-align: center;
  font-size: 16px;
  padding: 13px 0 13px 0;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
}

.main-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-list li{
  padding: 0 15px 15px;
}

.sub-list{
  padding-left: 30px;
  list-style: ':';
}

.item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Poppins Bold", sans-serif;
  font-size: 16px;
}

.dots{
  font-size: 36px !important;
  font-family: "Poppins Bold", sans-serif;
  cursor: pointer;
}

.sub-list .item{
  font-family: "Poppins Medium", sans-serif !important;
}

app-expense-box, app-expense-subcategory-box{
  width: 100%;
}
