.accounts-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

app-accounts-all {
  flex: 1.6;
}

app-accounts-form-add, app-accounts-form-edit {
  flex: 1;
}

@media only screen and (max-width: 1200px) {
  .accounts-content {
    flex-direction: column;
  }
}

