<form id="register-form" #userForm="ngForm">
  <h1>Sign up:</h1>
  <div class="register-input">
    <img src="../../assets/icons/login-email.svg" alt="register_icon">
    <input placeholder="Your name" [(ngModel)]="name" name="name">
  </div>
  <div class="register-input">
    <img src="../../assets/icons/login-email.svg" alt="register_icon">
    <input placeholder="Your email" [(ngModel)]="email" name="email">
  </div>
  <div class="register-input">
    <img src="../../assets/icons/login-password.svg" alt="password_icon">
    <input type="password" placeholder="Your password" [(ngModel)]="password" name="password">
  </div>
  <div class="warning" *ngIf="message">{{message}}</div>
  <button class="button" id="button-sign-up" type="button" (click)="onSubmit()">Ready to go!</button>
  <button class="button" id="button-login" onclick="location.href='#'">Already registered? Log in!</button>
</form>
