header {
  background-color: #FFFFFF;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style-type: none;
}

.menu li {
  padding-top: 20px;
}

.menu li a {
  font-family: "Poppins Regular", sans-serif;
  font-size: 20px;
  color: #404040;
  margin: 20px;
  cursor: pointer;
}

.logo-container, .logo-mobile img, .logo-mobile {
  height: 50px;
}

.logo-mobile {
  margin-left: 10px;
}

.burger-container {
  height: 50px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-container .menu-icon .navicon {
  background: #404040;
  display: block;
  height: 6px;
  position: relative;
  transition: background .2s ease-out;
  width: 40px;
  border-radius: 10px;
}

.burger-container .menu-icon .navicon:before,
.burger-container .menu-icon .navicon:after {
  background: #404040;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  border-radius: 5px;
}

.burger-container .menu-btn {
  display: none;
}

.burger-container .menu-icon .navicon:before {
  top: 15px;
}

.burger-container .menu-icon .navicon:after {
  top: -15px;
}

.menu-container li a {
  text-decoration: none;
  transition: display .2s ease-out;
}

.menu-container .menu {
  clear: both;
  display: none;
  transition: display .2s ease-out;
}

.burger-container .menu-btn:checked ~ .menu-container .menu {
  position: absolute;
  width: 94vw;
  margin-left: -100vw;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  background-color: #FFFFFF;
}

.burger-container .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.burger-container .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.burger-container .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.burger-container .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.burger-container .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


