<nav>
  <div class="logo">
    <a (click)="navigateTo('portal')" class="logo-desktop"><img src="../../../../assets/icons/logo-with-text-black.svg" alt="logo-text"></a>
    <a (click)="navigateTo('portal')" class="logo-mobile"><img src="../../../../assets/icons/logo.svg" alt="logo-mobile"></a>
  </div>
  <ul class="menu-items">
    <li class="menu-item"><a (click)="navigateTo('portal')"><img src="../../../../assets/icons/navigation/icon-dashboard.svg" alt="dashboard-icon"><p>Dashboard</p></a></li>
    <li class="menu-item"><a (click)="navigateTo('accounts')"><img src="../../../../assets/icons/navigation/icon-accounts.svg" alt="accounts-icon"><p>Accounts</p></a></li>
    <li class="menu-item"><a (click)="navigateTo('category')"><img src="../../../../assets/icons/navigation/icon-categories.svg" alt="categories-icon"><p>Categories</p></a></li>
    <li class="menu-item"><a (click)="navigateTo('payee')"><img src="../../../../assets/icons/navigation/icon-payees.svg" alt="payees-icon"><p>Payees</p></a></li>
    <li class="menu-item"><a (click)="navigateTo('payments')"><img src="../../../../assets/icons/navigation/icon-payments.svg" alt="payments-icon"><p>Payments</p></a></li>
  </ul>
</nav>
