<div class="register-text-mobile">
  <h1 id="register-label-mobile">Sign up:</h1>
</div>
<div id="register-text">
  <h1>We’re glad to see you here!</h1>
  <p class="register-text-tablet">You are just about to make a first step to brighter future.</p>
  <p class="register-text-desktop">
    Making saving a habit is a key to succeed in controlling your money.</p>
  <p class="register-text-desktop">And you are just about to make a first step to brighter future.</p>
  <p>Already have an account?</p>
  <button class="button" id="button-log-in-tablet" type="button" (click)="navigateTo('/login')">Log in</button>
</div>
