<h1>Your payments</h1>
<div class="payments-container">
  <div class="parameter1">
    <label for="account">Select account: </label>
    <select class="account-select" name="account" id="account" [(ngModel)]="account" (change)="requestPayments()" #accountSelect="ngModel">
      <option *ngFor="let account of allAccounts" [ngValue]="account">{{account.name}}</option>
    </select>
  </div>
  <div class="parameter2">
    <label for="period">Period: </label>
    <select class="period-select" name="period" id="period" [(ngModel)]="periodInDays" (change)="requestPayments()" #periodSelect="ngModel">
      <option value="7">Last 7 days</option>
      <option value="30">Last 30 days</option>
      <option value="90">Last 3 months</option>
      <option value="365">Last year</option>
    </select>
  </div>
  <div class="payments">
    <app-payment *ngFor="let payment of payments first as isFirst; last as isLast; even as isEven"
                 [payment] = payment
                 [first] = isFirst
                 [last] = isLast
                 [even] = isEven></app-payment>
    <p *ngIf="account == null || periodInDays == null">Choose required parameters to see your transactions!</p>
    <p *ngIf="payments != undefined && payments.length === 0 && account != null && periodInDays != null">There are no transactions for selected parameters!</p>
  </div>
</div>
