h1 {
  font-family: "Poppins Regular", sans-serif;
  font-size: 24px;
  color: #404040;
}

#popular-accounts {
  display: grid;
  grid-template-columns: auto auto;
}

@media only screen and (min-width: 800px) {
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    display: flex;
    width: 100%;
    height: 100% !important;
  }

  input {
    height: 50%;
  }

  #popular-accounts {
    width: 100%;
    height: 100%;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
